body {
font-size: 13px;
font-family: arial,tahoma,verdana,sans-serif;
color: #333;
min-width: 978px;
text-align: left;
width: 100%;
position: static;
overflow-y: auto;
background:url(bg-body.jpg);
}
p {
	color: orange;
	text-align: center;
}

p.one {
    border-style: solid;
    border-width: 5px;
}

header {
    border: 2px solid red;
	width: 1024px;
	margin: 0 auto;
}

section {
	border: 2px solid red;
	width: 1024px;
	height: 960px;
	font-family: 'PT_Sans-Web-Regular';
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
}

section .container {
	border: 2px solid red;
	width: 817px;
	height: 800px;
	float: left;
	font-family: 'PT_Sans-Web-Regular';
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
}

section .containerHeader{
	border: 2px solid red;
	width: 817px;
	height: 99px;
	float: left;
	font-family: 'PT_Sans-Web-Regular';
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
}

section .contains{
	border: 2px solid red;
	width: 817px;
	height: 651px;
	float: left;
	font-family: 'PT_Sans-Web-Regular';
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
}

section .navigate{
	border: 2px solid red;
	width: 817px;
	height: 38px;
	float: left;
	font-family: 'PT_Sans-Web-Regular';
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
}

.loginContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.loginContainer h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
form button:hover {
  background-color: #f5f7f9;
}